div#top-bar {
    background-color: brown;
    padding: 10px;
    text-align: center;
  }
  
div#top-bar {
    background-color: brown;
    padding: 10px;
    text-align: center;
  }
  
  div#top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
