.image-container {
    width: 40%;
    height: 50%;
    margin: auto;
    text-align: center;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  
  